<li id="review-<%= review.id %>" >
        <% if @alreadyReviewed[:ip] == review.ip %>
          <span class="my-review">Your Review</span>
        <% end %>
        <span class="name"><%= review.name if review.name!=nil %></span>
        <span class="content <%= likeOrNot review %>"><%= review.content %></span>
        <span class="timestamp">
        <!-- Posted <%= time_ago_in_words(review.created_at) %> ago.-->
        Posted on <%= review.created_at.to_date.to_formatted_s(:rfc822)  %>
        <%= link_to "Report", reports_path(:review_id => review.id), :method => :post, data: { confirm: "Are you sure?" } %>
  </li>
